@import "tailwindcss";

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

@theme {
      --font-display: "Satoshi", "sans-serif";
      --breakpoint-3xl: 120rem;
      --color-primary-500: oklch(0.53 0.12 118.34); /* Example color */
      --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    }